{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/index.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link href="{{ asset('css/index.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="wrapper">
    	<div id="todo-container">
    		<div id="todo-header">
    			<div class="todo-content">
    				<h1>- SymFoDo -</h1>
	    			<input type="text" id="addTask" placeholder="Let's add a new task..." />
	    		</div>
	    	</div>
	    	<div id="todo-menu">
	    		<div class="todo-content">
	    			<ul id="todo-menu-list">
	    				<li class="active" onclick="filterTodo(this,'all');">All</li>
	    				<li onclick="filterTodo(this,'active');">Active</li>
	    				<li onclick="filterTodo(this,'completed');">Completed</li>
	    			</ul>
	    		</div>
	    	</div>
	    	<div id="todo-tasks">
	    		<div class="todo-content">
					<ul id="todoList">
					{# iterate over each existing tag and render its only field: name #}
					{% for task in tasks %}
					    <li>
					    	<div>
						    	<span class="task-completed">
						    		<div>
						    			<input type="checkbox" {{ task.isCompleted() ? "checked='checked'" : ""}}>
						    		</div>
						    	</span>
						    	{{ task.getName() }}
						    </div>
					   	</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
